# Ignore all necessary
**/.DS_Store
**/.classpath
**/.project
**/.class
data/Random16Train.csv
data/Random16Val.csv
data/Random256Train.csv
data/Random256Val.csv
data/SimpleAllTrain.csv
data/SimpleAllVal.csv
data/SimpleLastTrain.csv
data/SimpleLastVal.csv
*.dat
*.class
ginrummy/bin/*