# Ignore all necessary
**/.DS_Store
**/.classpath
**/.project
**/.class
ginrummy-data/Random16Train.csv
ginrummy-data/Random16Val.csv
ginrummy-data/Random256Train.csv
ginrummy-data/Random256Val.csv
ginrummy-data/SimpleAllTrain.csv
ginrummy-data/SimpleAllVal.csv
ginrummy-data/SimpleLastTrain.csv
ginrummy-data/SimpleLastVal.csv
